{% load static i18n %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}TestInt{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    {% block css %}
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    <link href="{% static 'css/element_ui.css' %}" rel="stylesheet">
    {% endblock %}
  </head>
  <body>
    <div>
      {% block content %}

      {% endblock content %}
    </div>

    {% block javascript %}
      <script src="{% static 'js/project.js' %}"></script>
      <script src="{% static 'js/vue.min.js' %}"></script>
      <script src="{% static 'js/element_ui.js' %}"></script>
      <script src="{% static 'js/vue-resource.min.js' %}"></script>
      <script src="{% static 'js/vue-cookies.min.js' %}"></script>
    {% endblock javascript %}

    {% block vue %}
    {% endblock vue %}

  </body>
</html>

