{% extends "base.html" %}

{% block content %}
  <el-container id="app">

    <el-main>

      <el-form ref="form" :inline="true" :model="form" size="mini">
        <el-form-item label="Topic" prop="topic">
          <el-input v-model="form.topic"></el-input>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="syncNews">Sync</el-button>
        </el-form-item>
      </el-form>


      <div v-if="news.length==0">
         <el-row>
           <p>No news present in database please sync</p>
         </el-row>
      </div>
      <div v-for="item in news">
        <el-row justify="center">
          <h1>[[item.description]]</h1>
        </el-row>
        <el-row>

          <el-image :src="[[item.urlToImage]]"></el-image>
          <p>[[item.content]]</p>
        </el-row>
        <el-row>
          <span>To access the full story click on the following link <a :href='[[item.url]]'>[[item.url]]</a></span>
        </el-row>
        <br>
      </div>
    </el-main>
  </el-container>
{% endblock %}


{% block vue %}
<script type="text/javascript">
var app = new Vue({
  el: "#app",
  delimiters: ['[[',']]'],
  data: {
    news: [],
    form: {
      topic:""
    }
  },
  mounted(){
    this.getNews()
  },
  methods: {
    getNews: function() {
      let url = "/api/news/?page_size=20&ordering=-publishedAt";
      this.$http.get(url).then(response => {
        this.news = response.data.results
      })
    },

    syncNews: function() {
      let url = "/api/news/sync_news/";
      this.$http.post(url, this.form).then(response => {
        this.getNews()
      })
    },
  }
});

Vue.http.interceptors.push(function(request) {
  request.headers.set("X-CSRFToken", this.$cookies.get("csrftoken"));
});

</script>
{% endblock vue %}
